{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
<div>
    <p>Nombre de candidats : {{ numberCandidat }}</p>
    <p>Nombre de Candidatures : {{ numberCandidature }}</p>
    <p>Nombre de Client : {{ numberClient }}</p>
    <p>Nombre de Job Offer : {{ numberJobOffer }}</p>
</div>
{% endblock %}