{% extends 'base.html.twig' %}


{% block body %}
<div class="base">

    <!-- Page -->
    <div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">Feel free to contact us</h2>
                        <span class="white-text">for any questions or demands</span>
                        <ol class="breadcrumb">
                            <li><a href=" {{ path('app_home')}} ">Home</a></li>
                            <li class="active">Contact</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- Page Content-->
        <form method="POST" action="#!" accept-charset="UTF-8" id="formContact" class="light-gray-bg">
            {% include 'contact/_form.html.twig' %}  
        </form>
        
        <div id="myMap" class="height-350">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.5875990002814!2d4.378487074960513!3d45.43781403520068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f5af5a4302d623%3A0x77b76af46a2f3e19!2sGarage404!5e0!3m2!1sfr!2sfr!4v1695284207622!5m2!1sfr!2sfr" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>

</div>
{% endblock %}
